.team {
  background-color: $second-background;

  &__list {
    @include flex-list;
  }
  &__list-item {
    max-width: 270px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__list-img {
    display: block;
  }
  &__list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
  }
  &__list-text {
    color: $grey-color;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__content {
    padding: 30px 0;
    text-align: center;
  }
  &__icons-list {
    @include flex-list(10px);
    margin-top: 16px;
    justify-content: center;
  }
  &__icons-item {
    width: 44px;
    height: 44px;
  }
  &__icon {
    @extend %icon;
  }
  &__icons-link {
    @extend %link;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    border-radius: 50%;
    transition: color, background-color $duration $transition;

    &:hover,
    &:focus {
      color: $white-color;
      background-color: $focus-color;
    }
  }
}
