.projects {
  background-color: $white-color;
  &__filter-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__filter-btn {
    font-family: inherit;
    background-color: $second-background;
    color: $brand-font-color;
    @include font(16px, 500, 1.63, 0.03em);
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
    transition: color, box-shadow, background-color $duration $transition;
    &:hover,
    &:focus {
      color: $white-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: $focus-color;
    }
  }
  &__title--hidden {
    @extend %visually-hidden;
  }
  &__list {
    @include flex-list;
    flex-direction: column;
  }
  &__list-item {
    max-width: 450px;
  }
  &__item-link {
    @extend %link;
    display: block;
    transition: box-shadow $duration $transition;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .projects__overlay-text,
    &:focus .projects__overlay-text {
      transform: translateY(-100%);
    }
  }
  &__card-content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }
  &__overlay {
    position: relative;
    overflow: hidden;
  }
  &__overlay-text {
    position: absolute;
    padding: 63px 24px;
    top: 100%;
    @include font(18px, 400, 1.56, 0.03em);
    color: $white-color;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform $duration $transition;
  }

  &__card-title {
    color: $brand-font-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &__card-text {
    color: $grey-color;
    @include font(16px, 400, 1.88, 0.03em);
  }
}

@include tablet {
  .projects {
    &__list {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
    }
    &__filter-list {
      justify-content: center;
    }
    &__list-item {
      width: calc((100% - 60px) / 2);
    }
    &__item-link {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__overlay {
      flex-grow: 1;
    }
  }
}
@include desktop {
  .projects {
    &__list {
      flex-wrap: wrap;
    }
    &__list-item {
      width: calc(100% / 3 - 20px);
    }
  }
}
