.clients {
  &__list {
    @include flex-list;
    flex-wrap: wrap;
  }
  &__list-item {
    flex-basis: calc((100% - 30px) / 2);
    height: 92px;
  }
  &__list-link {
    @extend %link;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    color: #afb1b8;
    border-radius: $main-border-radius;
    transition: color, border $duration $transition;
    &:hover,
    &:focus {
      color: $focus-color;
      border: 1px solid $focus-color;
    }
  }
  &__list-icon {
    @extend %icon;
  }
}

@include tablet {
  .clients {
    &__list-item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}

@include desktop {
  .clients {
    &__list {
      flex-wrap: nowrap;
    }
    &__list-item {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
}
