.logo {
  @extend %link;
  font-family: $logo-font;
  @include font(26px, 700, 1.17, 0.03em);
  text-decoration: none;
  color: $focus-color;
  &__link {
    margin-right: 93px;
  }
  &__studio-text {
    color: $black-color;

    &--light {
      color: $white-color;
    }
  }
}
@include tablet {
  .logo {
    &__link {
      margin-right: 88px;
    }
  }
}

@include desktop {
  .logo {
    &__link {
      margin-right: 93px;
    }
  }
}
