address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: $current-font;
  color: $brand-font-color;
  background-color: $white-color;
  font-size: 14px;
}

input,
textarea {
  outline: none;
}
