$current-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$main-background: #f5f5f5;
$brand-background: #2f303a;
$second-background: #f5f4fa;
$brand-font-color: #212121;
$focus-color: #2196f3;
$white-color: #ffffff;
$grey-color: #757575;
$black-color: #000000;
$color-rgba: rgba(255, 255, 255, 0.6);
$hover-btn-color: #188ce8;
$main-border-radius: 4px;
$duration: 250ms;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
